.proj {
  height: 40px;
  width: 250px;
  font-size: large;
  border-radius: 40px;
  cursor: pointer;
}
.logo{
  height: 90px;
  width: 90px;
}
.logocontainer{
  padding: 8px;
  min-width: 108px;
}
.textcontainer{
  padding: 2px;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
.cardcontainer{
  text-align: center;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.card {
  height: 180px;
  margin: 10px;
  width: 180px;
  background-color: #003153;
  border-radius: 30px;  
  color: black;
  padding: 10px;
  text-align: center;
}
.proj:hover {
  background: yellow;
  color: black;
  font-weight: bold;
}
u:hover {
  color: blue;
  cursor: pointer;
}
.do{
  display: flex;
  flex-direction: row;
}
.detail-container {
  margin: 40px 0;
}
.detail-container .detail-section{
  margin-bottom: 80px;
}
.detail-container .detail-section:last-child{
  margin-bottom: 0px;
}
.detail-container .detail-section h2 {
  margin-bottom: 20px;
}
.detail-container .detail-section .edu-list li{
  margin-bottom: 15px;
}
.detail-container .detail-section .edu-list li::marker{
  font-size: 20px;
}
.detail-container .detail-section .edu-list li:last-child{
  margin-bottom: 0;
}
@media (max-width: 820px) {
  .do {
    flex-direction: column;
  }
  .cardcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.do{
  display: flex;
  flex-direction: row;
}