.image{
position: "flex";
margin-left: 50vw;
height: 90vh;
flex-shrink: initial;
right: 1vw;
max-width: 700;
align-self: right;
left: 40%;
width: 750;
}
@media (max-width: 1500px) {
    .image {
      margin-left: 0%;
    }
  }