.button {
  height: 100%;
  width: 500;
}
.go:hover {
  cursor: pointer;
  color: red;
  border: 2px black;  
}

.ul{
  background-Color: "yellow"
}
@media (max-width: 1200px) {
  .ul {
    flex-direction: column;
    text-align: center;
  }
}